@use "../../../../node_modules/bootstrap/scss/bootstrap";

.dropdown-toggle-custom {
  @extend .p-0;
  @extend .border;
  @extend .rounded-circle;
  @extend .bg-transparent;
  @extend .overflow-hidden;

  &:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
  }

  // Remove the default dropdown arrow since we're using an image
  &::after {
    display: none !important;
  }
}

.user-level-pill {
  @extend .badge;
  @extend .rounded-pill;
  @extend .d-inline;
  @extend .ms-1;
  @extend .lh-sm;

  &.text-bg-wani {
    color: white;
    background-color: #f0a;
  }

  &.text-bg-bun {
    color: white;
    background-color: #e8585d;
  }
}